@model Meeting.Web.Dto.SeanceDto

@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>*@

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>MeetSeance</h4>
    <hr />*@
    <dl class="row">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Subdivision)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Subdivision.Libelle)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Antenne)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Antenne.Libelle)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Opendate)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Opendate)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Closedate)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Closedate)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.TotalEntrees)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.TotalEntrees)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.TotalSorties)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.TotalSorties)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Depensecollation)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Depensecollation)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Compterendu)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Compterendu)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    
    <form asp-formhelper="true" asp-action="Delete" class="visually-hidden">
        <input type="hidden" asp-for="SeanceId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
