@model Meeting.Web.Dto.InscriptionDto

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@

<div>
    @*<h4>InscriptionDto</h4>
    <hr />*@
    <dl class="row">
       @* <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.EtabId)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.EtabId)
        </dd>*@
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.AntenneId)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Antenne.Libelle)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Annee)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Annee.Libelle)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Dateinscrit)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Dateinscrit)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Datesuspension)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Datesuspension)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Nocni)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Nocni)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Soldedebut)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Soldedebut)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Soldefin)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Soldefin)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Tauxcotisation)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Tauxcotisation)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.TotalVerse)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.TotalVerse)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Cumuldettes)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Cumuldettes)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Cumulpenalites)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Cumulpenalites)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Endette)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Endette)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ReportNouveau)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.ReportNouveau)
        </dd>

    </dl>
</div>
<div class="visually-hidden">
    <a asp-action="Edit" asp-route-id="@Model?.Idinscrit">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
