@model IEnumerable<Tontine.Entities.Models.Rubrique>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" onclick="DisplayForm(null, event); return false;">Create New</a>
</p>
<div style="overflow-x:auto;">
<table id="rubriquesDatatable" class="table table-hover table-striped table-responsive ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Iscotisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ispret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isaide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isfondentraide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isdepense)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Candelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maxsignature)
            </th>
            <th class="text-center">
                <a asp-action="Index"><i class="fas fa-rotate-right fa-lg" title="Refresh"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Idtype" onclick="DisplayForm(null, event); return false;">
                     @Html.DisplayFor(modelItem => item.Libelle)
                 </a>
            </td>
        @*  <td>
                @Html.DisplayFor(modelItem => item.Iscotisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ispret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isaide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isfondentraide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isdepense)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Candelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maxsignature)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Idtype" onclick="DisplayForm(null, event); return false;">
                    <i class="far fa-eye fa-lg" title="Details"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Idtype" onclick="DisplayForm(null, event); return false;">
                    <i class="far fa-trash-can fa-lg" title="Delete"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<partial name="_SharedModalForms" />