@model Tontine.Entities.Models.Annualengagement

@{
   // ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Annualengagement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montantevt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montantevt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nbmandataire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nbmandataire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montantroute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montantroute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montanttotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montanttotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montantpenalite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montantpenalite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interetmensuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interetmensuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tauxpenalite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tauxpenalite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isaide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isaide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iscotisation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iscotisation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isdepense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isdepense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isfondentraide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isfondentraide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ispret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ispret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdanneeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdanneeNavigation.Idannee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdtypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdtypeNavigation.Idtype)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idconfig">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
