@model Tontine.Entities.Models.CoreBankaccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoreBankaccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numcompte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numcompte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdbankNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdbankNavigation.Idbank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdetabNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdetabNavigation.Idetab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdpersonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpersonNavigation.Idperson)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idcompte">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
