@model IEnumerable<Tontine.Entities.Models.Pret>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ispret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dureepret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montantinteret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montantpenalite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdevtsNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ispret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dureepret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montantinteret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montantpenalite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdevtsNavigation.Idevts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idevts">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idevts">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idevts">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
