@model Meeting.Web.Dto.SortieCaisseDto

@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>*@

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>MeetSortieCaisse</h4>
    <hr />*@
    <dl class="row">

        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.RefNo)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.RefNo)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.BenefPrincipal)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.BenefPrincipal)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.IdinscritNavigation)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.IdinscritNavigation.FullName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Seance)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Seance.Libelle)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Rubrique)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Rubrique.Libelle)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Dateevts)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Dateevts)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Montantpercu)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Montantpercu)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.IsClosed)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Visarestants)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Visarestants)
        </dd>
    </dl>
    
    <form asp-formhelper="true" asp-action="Delete" class="visually-hidden">
        <input type="hidden" asp-for="SortiecaisseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
