@model IEnumerable<Meeting.Web.Dto.SortieCaisseDto>

@{
    ViewData["Title"] = "Index";
}

<h5 class="mb-4">@ViewBag.TitleObj.ListTitle</h5>

<div class="d-flex justify-content-between">
    <a asp-action="Create" onclick="return DisplayForm('@ViewBag.TitleObj.CreateTitle', null, event);"
         data-bs-toggle="modal" data-bs-target="#partialModal" data-bs-dismiss="modal" class="btn btn-sm btn-secondary">Create New</a>

    <a asp-action="Index"><i class="fas fa-rotate-right fa-lg" title="Refresh"></i>Refresh</a>
</div>
<div class="table-responsive table-responsive-sm table-responsive-md mt-2 pb-2">
    <table class="table table-hover ">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RefNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateevts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montantpercu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visarestants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engagement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdinscritNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenefPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seance)
            </th>
            <th></th>
        </tr>
    </thead class="table-primary">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RefNo)
            </td>
            <td>
                 @((item.Dateevts.ToShortDateString()=="01/01/0001")? string.Empty : @Html.DisplayFor(modelItem => item.Dateevts))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montantpercu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visarestants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engagement.EngagementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdinscritNavigation.Person.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenefPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seance.SeanceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SortiecaisseId"  data-bs-toggle="modal" data-bs-target="#partialModal" data-bs-dismiss="modal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SortiecaisseId"  data-bs-toggle="modal" data-bs-target="#partialModal" data-bs-dismiss="modal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SortiecaisseId"  data-bs-toggle="modal" data-bs-target="#partialModal" data-bs-dismiss="modal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<partial name="_SharedModalForms" />