@model IEnumerable<Tontine.Entities.Models.CoreBank>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" onclick="DisplayForm(null,event); return false;">Create New</a>
</p>
<div style="overflow-x:auto;">
<table id="banksDatatable" class=" table table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coderib)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pays)
            </th>
            <th class="text-center">
                <a asp-action="Index"><i class="fas fa-rotate-right fa-lg" title="Refresh"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idbank" onclick="DisplayForm(null, event); return false;">@Html.DisplayFor(modelItem => item.Libelle)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coderib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pays.Libelle)
            </td>
            <td>
                 |
                    <a asp-action="Details" asp-route-id="@item.Idbank" onclick="DisplayForm(null, event); return false;">
                        <i class="far fa-eye fa-lg" title="Details"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Idbank" onclick="DisplayForm(null, event); return false;">
                        <i class="far fa-trash-can fa-lg" title="Delete"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<partial name="_SharedModalForms" />