@model Meeting.Web.Dto.BankDto

@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>*@
<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>CoreBank</h4>
    <hr />*@
    <dl class="row">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Coderib)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Coderib)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Country.Libelle)
        </dd>
    </dl>
    
    <form asp-formhelper="true" asp-action="Delete" class="visually-hidden">
        <input type="hidden" asp-for="BankId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
