@model IEnumerable<Meeting.Web.Dto.BankDto>

@{
    ViewData["Title"] = "Index";
}

<h5 class="mb-4">@ViewBag.TitleObj.ListTitle</h5>

<div class="d-flex justify-content-between">
    <a asp-action="Create" onclick="return DisplayForm('@ViewBag.TitleObj.CreateTitle', null, event);"
         data-bs-toggle="modal" data-bs-target="#partialModal" data-bs-dismiss="modal" class="btn btn-sm btn-secondary">Create New</a>

    <a asp-action="Index"><i class="fas fa-rotate-right fa-lg" title="Refresh"></i>Refresh</a>
</div>
<div class="table-responsive table-responsive-sm table-responsive-md mt-3">
    <table class="table table-hover ">
        <thead class="table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Libelle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coderib)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th></th>
            </tr>
        </thead class="table-primary">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-nowrap">                      
                        <div class="dropdown dropend">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                                @Html.DisplayFor(modelItem => item.Libelle)
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.BankId" onclick="return DisplayForm('@ViewBag.TitleObj.EditTitle', null, event);"
                                     data-bs-toggle="modal" data-bs-target="#partialModal" data-bs-dismiss="modal"> Edit </a>
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.BankId" onclick="return DisplayForm('@ViewBag.TitleObj.DetailsTitle', null, event);"
                                     data-bs-toggle="modal" data-bs-target="#partialModal" data-bs-dismiss="modal">Details</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.BankId" onclick="return DisplayForm('@ViewBag.TitleObj.DeleteTitle', null, event);"
                                     data-bs-toggle="modal" data-bs-target="#partialModal" data-bs-dismiss="modal">Delete</a>
                            </div>
                        </div>
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Adresse)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Coderib)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Country.Libelle)
                    </td>
                    <td>
                       @* <a asp-action="Details" asp-route-id="@item.BankId" onclick="return DisplayForm('@ViewBag.TitleObj.DetailsTitle', null, event);">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BankId" onclick="return DisplayForm('@ViewBag.TitleObj.DeleteTitle', null, event);">Delete</a>
                        *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_SharedModalForms" />
