@model Tontine.Entities.Models.CoreAnnee
@*
@{
  //  ViewData["Title"] = "Delete";
}
*@
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CoreAnnee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datedebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datedebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datefin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datefin)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iscurrent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iscurrent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isclosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isclosed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nbdivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nbdivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdbureauNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdbureauNavigation.Idbureau)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idannee" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
