@model Tontine.Entities.Models.CoreEtablissement

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CoreEtablissement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agrement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agrement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dossierfiscale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dossierfiscale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pays.PaysId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idetab" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
