@model Tontine.Entities.Models.CoreEtablissement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoreEtablissement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agrement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agrement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dossierfiscale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dossierfiscale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pays.PaysId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idetab">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
